.navigation-div {
    background-color: black;
    width: 120vw;
    height:30vh;
}

.main image {
    background-color: blueviolet;
    width: 120vw;
    height: 30vh;
}

.page-information {
    background-color:red;
    width: 120vw;
    height: 30vh;
}

.content-div {
   background-color: blue;
   width: 120vw;
   height: 30vh;
}

.intro-blurb {
   background-color: green;
   width: 120vw;
   height: 30vh;
}

.quote-div {
   background-color:yellow;
   width: 120vw;
   height: 30vh;
}

.footer-div {
   background-color:crimson;
   width: 120vw;
   height: 30vh;
}